body{
background-color:lightgrey;
  font-family:fantasy;
}

  
#image{
  border-radius: 30px;
  height:400px;
  margin:100px 1px 40px 80px;
}

table
{
  list-decoration:none;
    border: 1px outset   #30bfde;
  
    }
td 
{
    padding: 2px;
    border: 1px solid   #569600;
  
  
    }

footer{
    height:40px;
    clear:both;
  font-size:12px;

  text-align:center;
    position: relative;
    background-color: #C1E3E1;
  
    }
h5{
  padding-top:12px;
}
h1 {
  font-family:arial;
  padding-left:20px;
  
}

#ali{
  float:right;
  padding:90px 90px 5px 1px;
}